
body h1{
	color:#4f6b6b;
	text-align:center;
	padding: 3%;
}

h2{
	text-align: center;
	text-decoration: underline;
}

form{
	display: flex;
	padding-top: 20px;
	flex-direction: column;
	height: 225px;
	flex-wrap: wrap;
	column-gap: 70px;
	margin: auto;
	width:70%;
}

label{
	font-weight: 500;
	height:25px;
	margin-bottom:8px;
}

form input {
	box-sizing: border-box;
	height:30px;
	margin-bottom: 20px;
}

.formulaire{
	display: flex;
	padding: 30px 70px 30px 70px;
	background-color: #c3dfda;
	margin-top:30px;
}

.colonne{
	display: flex;
  flex-direction: column;
}

.medical{
	width:270px;
}

.form2{
	align-content:center;
}

.bouton-droit, .bouton-droit2{
	text-align: right;
}

.bouton-gauche{
	margin-top:20px;
}


.confirmation{
	background-color: #c3dfda;
	text-align:center;
	padding: 50px 0 38px 0;
	margin-top: 30px;
}

p{
	font-weight:500;
}

.confirmation button{
	margin-top:30px;
}

button{
	background-color: #769a94;
	color: white;
	padding: 5px 10px;
	border: none;
	cursor: pointer;
	transition: 0.7s;
}

a button:hover, button:hover {
	background-color: #4f6b6b;
}